---
import { SEO } from "astro-seo";

export interface Props {
       
        imagen: string;
		url:string;
		Title: string;
                Description: string;
		
}

// const Title = t("site.title")|| "";


const { imagen, url, Title, Description } = Astro.props;

import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import { localizeUrl } from "astro-i18next";


---

<!DOCTYPE html>
<html lang={i18next.language}>
        <head>
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width" />
                <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/djhjo9n7j/image/upload/f_auto,q_100/v1683236068/favicon_gdae5j.ico" />
                <SEO
      title={Title}
      description={Description}
      openGraph={{
        basic: {
          title: Title,
          type: "website",
          image: imagen,
          url: localizeUrl(url),
                  },
      }}
        twitter={{
        card: "summary_large_image",
        title: Title,
        description:Description,
        image: imagen,
  }}
      />
	  <HeadHrefLangs />


        </head>
        <body class="bg-blue-100 dark:bg-blue-900 text-blue-900 dark:text-blue-100">

                <slot />

				<h1 class="text-blue-100">{url}</h1>
        </body>
</html>


